In [49]:
import json
import pandas as pd

ndf = pd.read_json('final_ngram_comma.json')
ldf = pd.read_json('labeled_treasury_3_rate.json')

# # 비어있는 ngram값 제거
# for i in range(len(ndf)):
#     if ndf['ngram'][i] == []:
#         ndf.drop(i, axis=0, inplace=True)

In [50]:
# ndf.to_json('final_ngram.json')
ndf

             date                                              ngram
0      2005-05-12  부진/NNG;글로벌/NNG;경기/NNG;둔화/NNG;우려/NNG,소비/NNG;설비/...
1      2005-06-09  경상/NNG;수지/NNG;적자/NNG;재정/NNG;적자/NNG,국제/NNG;금융시장...
2      2005-06-23                       대출/NNG;촉진/NNG,걸림돌/NNG,개선/NNG
3      2005-07-07  자산/NNG;가격/NNG;상승/NNG;물가/NNG;상승/NNG,물가/NNG;안정/N...
4      2005-08-11  부동산/NNG;가격/NNG;상승/NNG;금리/NNG;인상/NNG,국채/NNG;수익률...
...           ...                                                ...
293106 2020-07-15                                      실망/NNG,중단/NNG
293107 2020-07-15                               경기/NNG;침체/NNG,완화/NNG
293108 2020-07-15           코픽스/NNG;떨어/VV,돈/NNG;확보/NNG,하락/NNG,내림/NNG
293109 2020-07-15  저축성/NNG;예금/NNG;늘/VV,경기/NNG;악화/NNG,통화/NNG;급증/NN...
293110 2020-07-15                                      최대/NNG,충족/NNG

[293111 rows x 2 columns]

In [51]:
ldf.head(50)

         date  rate  ud
0  2005-04-01  3.90  -1
1  2005-04-02  3.90  -1
2  2005-04-03  3.90  -1
3  2005-04-04  3.92  -1
4  2005-04-05  3.92  -1
5  2005-04-06  3.93  -1
6  2005-04-07  3.88  -1
7  2005-04-08  3.87  -1
8  2005-04-09  3.87  -1
9  2005-04-10  3.87  -1
10 2005-04-11  3.89  -1
11 2005-04-12  3.93  -1
12 2005-04-13  3.92  -1
13 2005-04-14  3.90  -1
14 2005-04-15  3.85  -1
15 2005-04-16  3.85  -1
16 2005-04-17  3.85  -1
17 2005-04-18  3.83  -1
18 2005-04-19  3.83  -1
19 2005-04-20  3.81  -1
20 2005-04-21  3.82  -1
21 2005-04-22  3.82  -1
22 2005-04-23  3.82  -1
23 2005-04-24  3.82  -1
24 2005-04-25  3.80  -1
25 2005-04-26  3.81  -1
26 2005-04-27  3.82  -1
27 2005-04-28  3.81  -1
28 2005-04-29  3.76  -1
29 2005-04-30  3.76  -1
30 2005-05-01  3.76  -1
31 2005-05-02  3.78  -1
32 2005-05-03  3.76  -1
33 2005-05-04  3.77  -1
34 2005-05-05  3.77  -1
35 2005-05-06  3.77  -1
36 2005-05-07  3.77  -1
37 2005-05-08  3.77  -1
38 2005-05-09  3.78  -1
39 2005-05-10  3.78  -1
40 2005-05-11  3.78  -1
41 2005-05-12  3.75  -1
42 2005-05-13  3.72  -1
43 2005-05-14  3.72  -1
44 2005-05-15  3.72  -1
45 2005-05-16  3.69   1
46 2005-05-17  3.69   1
47 2005-05-18  3.67   1
48 2005-05-19  3.65   1
49 2005-05-20  3.66   1

In [52]:
ldf3 = pd.merge(ndf, ldf, on='date', how='left')
ldf3

,date,ngram,rate,ud
0,2005-05-12,"부진/NNG;글로벌/NNG;경기/NNG;둔화/NNG;우려/NNG,소비/NNG;설비/...",3.75,-1.0
1,2005-06-09,"경상/NNG;수지/NNG;적자/NNG;재정/NNG;적자/NNG,국제/NNG;금융시장...",3.65,1.0
2,2005-06-23,"대출/NNG;촉진/NNG,걸림돌/NNG,개선/NNG",3.93,1.0
3,2005-07-07,"자산/NNG;가격/NNG;상승/NNG;물가/NNG;상승/NNG,물가/NNG;안정/N...",4.03,1.0
4,2005-08-11,"부동산/NNG;가격/NNG;상승/NNG;금리/NNG;인상/NNG,국채/NNG;수익률...",4.36,1.0
...,...,...,...,...
293106,2020-07-15,"실망/NNG,중단/NNG",NaN,NaN
293107,2020-07-15,"경기/NNG;침체/NNG,완화/NNG",NaN,NaN
293108,2020-07-15,"코픽스/NNG;떨어/VV,돈/NNG;확보/NNG,하락/NNG,내림/NNG",NaN,NaN
293109,2020-07-15,"저축성/NNG;예금/NNG;늘/VV,경기/NNG;악화/NNG,통화/NNG;급증/NN...",NaN,NaN
293110,2020-07-15,"최대/NNG,충족/NNG",NaN,NaN

In [53]:
ldf3.sort_values(by=['date'])
ldf3

,date,ngram,rate,ud
0,2005-05-12,"부진/NNG;글로벌/NNG;경기/NNG;둔화/NNG;우려/NNG,소비/NNG;설비/...",3.75,-1.0
1,2005-06-09,"경상/NNG;수지/NNG;적자/NNG;재정/NNG;적자/NNG,국제/NNG;금융시장...",3.65,1.0
2,2005-06-23,"대출/NNG;촉진/NNG,걸림돌/NNG,개선/NNG",3.93,1.0
3,2005-07-07,"자산/NNG;가격/NNG;상승/NNG;물가/NNG;상승/NNG,물가/NNG;안정/N...",4.03,1.0
4,2005-08-11,"부동산/NNG;가격/NNG;상승/NNG;금리/NNG;인상/NNG,국채/NNG;수익률...",4.36,1.0
...,...,...,...,...
293106,2020-07-15,"실망/NNG,중단/NNG",NaN,NaN
293107,2020-07-15,"경기/NNG;침체/NNG,완화/NNG",NaN,NaN
293108,2020-07-15,"코픽스/NNG;떨어/VV,돈/NNG;확보/NNG,하락/NNG,내림/NNG",NaN,NaN
293109,2020-07-15,"저축성/NNG;예금/NNG;늘/VV,경기/NNG;악화/NNG,통화/NNG;급증/NN...",NaN,NaN
293110,2020-07-15,"최대/NNG,충족/NNG",NaN,NaN

In [54]:
ldf3.dropna(axis=0, inplace=True)
ldf3

,date,ngram,rate,ud
0,2005-05-12,"부진/NNG;글로벌/NNG;경기/NNG;둔화/NNG;우려/NNG,소비/NNG;설비/...",3.75,-1.0
1,2005-06-09,"경상/NNG;수지/NNG;적자/NNG;재정/NNG;적자/NNG,국제/NNG;금융시장...",3.65,1.0
2,2005-06-23,"대출/NNG;촉진/NNG,걸림돌/NNG,개선/NNG",3.93,1.0
3,2005-07-07,"자산/NNG;가격/NNG;상승/NNG;물가/NNG;상승/NNG,물가/NNG;안정/N...",4.03,1.0
4,2005-08-11,"부동산/NNG;가격/NNG;상승/NNG;금리/NNG;인상/NNG,국채/NNG;수익률...",4.36,1.0
...,...,...,...,...
292871,2020-06-03,"재정/NNG;건전성/NNG;악화/NNG,재정/NNG;건전성/NNG;확보/NNG,시중...",0.86,0.0
292872,2020-06-03,최대/NNG,0.86,0.0
292873,2020-06-03,"재정/NNG;건전성/NNG;우려/NNG,금리/NNG;유가/NNG;하락/NNG,적자국...",0.86,0.0
292874,2020-06-03,"재정/NNG;건전성/NNG;악화/NNG,재정/NNG;건전성/NNG;확보/NNG,시중...",0.86,0.0
292875,2020-06-03,"경제/NNG;활동/NNG;위축/NNG,자금사정/NNG;어렵/VA,금융지원/NNG;늘...",0.86,0.0

In [55]:
del ldf3['rate']
ldf3

             date                                              ngram   ud
0      2005-05-12  부진/NNG;글로벌/NNG;경기/NNG;둔화/NNG;우려/NNG,소비/NNG;설비/... -1.0
1      2005-06-09  경상/NNG;수지/NNG;적자/NNG;재정/NNG;적자/NNG,국제/NNG;금융시장...  1.0
2      2005-06-23                       대출/NNG;촉진/NNG,걸림돌/NNG,개선/NNG  1.0
3      2005-07-07  자산/NNG;가격/NNG;상승/NNG;물가/NNG;상승/NNG,물가/NNG;안정/N...  1.0
4      2005-08-11  부동산/NNG;가격/NNG;상승/NNG;금리/NNG;인상/NNG,국채/NNG;수익률...  1.0
...           ...                                                ...  ...
292871 2020-06-03  재정/NNG;건전성/NNG;악화/NNG,재정/NNG;건전성/NNG;확보/NNG,시중...  0.0
292872 2020-06-03                                             최대/NNG  0.0
292873 2020-06-03  재정/NNG;건전성/NNG;우려/NNG,금리/NNG;유가/NNG;하락/NNG,적자국...  0.0
292874 2020-06-03  재정/NNG;건전성/NNG;악화/NNG,재정/NNG;건전성/NNG;확보/NNG,시중...  0.0
292875 2020-06-03  경제/NNG;활동/NNG;위축/NNG,자금사정/NNG;어렵/VA,금융지원/NNG;늘...  0.0

[291606 rows x 3 columns]

In [56]:
ldf3.to_json('ngram_treasury3.json')