# 국고채(3년만기) 라벨링

In [ ]:
import pandas as pd
import json
import datetime

df = pd.read_json("treasury_3year.json")

In [ ]:
df = df.set_index('date')

In [ ]:
df

            rate
date
2005-04-29  3.76
2005-05-02  3.78
2005-05-03  3.76
2005-05-04  3.77
2005-05-06  3.77
...          ...
2020-07-17  0.81
2020-07-20  0.80
2020-07-21  0.81
2020-07-22  0.81
2020-07-23  0.79

[3780 rows x 1 columns]

In [ ]:
df2 = pd.date_range(start='2005-05-01', end='2020-07-23')
df2=pd.DataFrame(df2)
df2.set_index(0, inplace=True)
df2['rate'] = df['rate']

In [ ]:
df2.fillna(method='pad', inplace=True) # 전날 값으로 rate값 채우기
df2.fillna(method='backfill', inplace=True) # 5월 1일 값은 다음날인 5월 2일의 rate값으로 채우기
df2

            rate
0
2005-05-01  3.78
2005-05-02  3.78
2005-05-03  3.76
2005-05-04  3.77
2005-05-05  3.77
...          ...
2020-07-19  0.81
2020-07-20  0.80
2020-07-21  0.81
2020-07-22  0.81
2020-07-23  0.79

[5563 rows x 1 columns]

In [ ]:
d = datetime.timedelta(days=28)
df2['plus_month'] = None # plus_month라는 열 생성
df2['class'] = None # class라는 열 생성
for i in range(len(df2)-28):
    if df2['rate'][i] < df2['rate'][i+28]:
        df2['plus_month'][i] = df2.index[i] + d
        df2['class'][i] = 'up'
    else:
        df2['plus_month'][i] = df2.index[i] + d
        df2['class'][i] = 'down'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
df2.rename(columns={"rate" : "treasury_10rate"}, inplace = True)

In [ ]:
df2

            treasury_rate           plus_month class
0
2005-05-01           3.78  2005-05-29 00:00:00  down
2005-05-02           3.78  2005-05-30 00:00:00  down
2005-05-03           3.76  2005-05-31 00:00:00  down
2005-05-04           3.77  2005-06-01 00:00:00  down
2005-05-05           3.77  2005-06-02 00:00:00  down
...                   ...                  ...   ...
2020-07-19           0.81                 None  None
2020-07-20           0.80                 None  None
2020-07-21           0.81                 None  None
2020-07-22           0.81                 None  None
2020-07-23           0.79                 None  None

[5563 rows x 3 columns]

# 국고채(10년만기) 라벨링

In [ ]:
# treasury_10year

import pandas as pd
import json
import datetime

df = pd.read_json("treasury_10year.json")

df = df.set_index('일자')
df.rename(columns={"국고채권\n(10년)" : "rate"}, inplace = True)

df2 = pd.date_range(start='2005-05-01', end='2020-07-23')
df2=pd.DataFrame(df2)
df2.set_index(0, inplace=True)
df2['rate'] = df['rate']

df2.fillna(method='pad', inplace=True) # 전날 값으로 rate값 채우기
df2.fillna(method='backfill', inplace=True) # 5월 1일 값은 다음날인 5월 2일의 rate값으로 채우기

d = datetime.timedelta(days=28)
df2['plus_month'] = None # plus_month라는 열 생성
df2['class'] = None # class라는 열 생성
for i in range(len(df2)-28):
    if df2['rate'][i] < df2['rate'][i+28]:
        df2['plus_month'][i] = df2.index[i] + d
        df2['class'][i] = 'up'
    else:
        df2['plus_month'][i] = df2.index[i] + d
        df2['class'][i] = 'down'

df2.rename(columns={"rate" : "treasury_10rate"}, inplace = True)
df2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            treasury_10rate           plus_month class
0
2005-05-01              NaN  2005-05-29 00:00:00  down
2005-05-02              NaN  2005-05-30 00:00:00  down
2005-05-03              NaN  2005-05-31 00:00:00  down
2005-05-04              NaN  2005-06-01 00:00:00  down
2005-05-05              NaN  2005-06-02 00:00:00  down
...                     ...                  ...   ...
2020-07-19              NaN                 None  None
2020-07-20              NaN                 None  None
2020-07-21              NaN                 None  None
2020-07-22              NaN                 None  None
2020-07-23              NaN                 None  None

[5563 rows x 3 columns]

In [ ]:
df2.sample(n=30)

            treasury_10rate           plus_month class
0
2017-02-15              NaN  2017-03-15 00:00:00  down
2005-11-07              NaN  2005-12-05 00:00:00  down
2020-01-12              NaN  2020-02-09 00:00:00  down
2006-06-01              NaN  2006-06-29 00:00:00  down
2017-04-23              NaN  2017-05-21 00:00:00  down
2009-10-22              NaN  2009-11-19 00:00:00  down
2014-01-11              NaN  2014-02-08 00:00:00  down
2007-08-26              NaN  2007-09-23 00:00:00  down
2017-07-04              NaN  2017-08-01 00:00:00  down
2016-02-04              NaN  2016-03-03 00:00:00  down
2020-04-28              NaN  2020-05-26 00:00:00  down
2009-07-21              NaN  2009-08-18 00:00:00  down
2017-03-31              NaN  2017-04-28 00:00:00  down
2019-11-25              NaN  2019-12-23 00:00:00  down
2010-07-05              NaN  2010-08-02 00:00:00  down
2012-01-15              NaN  2012-02-12 00:00:00  down
2010-03-02              NaN  2010-03-30 00:00:00  down
2009-08-05              NaN  2009-09-02 00:00:00  down
2012-01-22              NaN  2012-02-19 00:00:00  down
2020-06-27              NaN                 None  None
2010-06-17              NaN  2010-07-15 00:00:00  down
2008-12-13              NaN  2009-01-10 00:00:00  down
2012-10-20              NaN  2012-11-17 00:00:00  down
2017-11-25              NaN  2017-12-23 00:00:00  down
2006-07-17              NaN  2006-08-14 00:00:00  down
2009-07-19              NaN  2009-08-16 00:00:00  down
2014-06-15              NaN  2014-07-13 00:00:00  down
2011-04-07              NaN  2011-05-05 00:00:00  down
2011-08-08              NaN  2011-09-05 00:00:00  down
2006-05-01              NaN  2006-05-29 00:00:00  down

In [ ]:
df = pd.read_json("treasury_10year.json")
df = df.set_index('일자')
df.rename(columns={"국고채권\n(10년)" : "rate"}, inplace = True)
df

             rate
일자
2005-01-03  3.930
2005-01-04  3.990
2005-01-05  4.000
2005-01-06  4.130
2005-01-07  4.130
...           ...
2020-07-20  1.334
2020-07-21  1.356
2020-07-22  1.346
2020-07-23  1.318
2020-07-24  1.305

[3865 rows x 1 columns]